extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-12
          h1
            | Tooltips
          p.subheadline
            | Use tooltips in mouse over events to show the user more information about an action or data.
    hr
    article
      section.margin-top-xxl
        h3
          | Description
        ul.list-no-padding
          li
            | Tooltips are used to show more information in buttons, links, or important user data
            | (non-actionable) where the space in screen is insufficient.
          li
            | Tooltips should only appear on #[code :hover] and #[code :focus].
          li
            | Always show the tooltip on #[code top] of the element. Use #[code bottom], #[code left] or #[code right] only if #[code top] fails.
          li
            | Use #[code $eos-bc-gray-1000] as background color.

    article
      h3.margin-top-xxl.title-strong
        | Usecases
      .row
        .col-md-12
          strong
            | Example 1: interactive message.
          .figure-wrap.margin-top-xxl
            figure
              img(src='/images/tooltips/color-panel-tooltip.svg')
      .row.margin-top-xxxl
        .col-md-12
          strong
            | Example 2: truncated text shown entirely inside the tooltip.
          .figure-wrap.margin-top-xxl
            figure
              img(src='/images/tooltips/username-tooltip.svg')
      .row.margin-top-xxxl
        .col-md-12
          strong
            | Example 3: icon only button.
          .figure-wrap.margin-top-xxl
            figure
              img(src='/images/tooltips/icon-buttons-tooltips.svg')
