extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Icons
          p.subheadline
            | Using icons consistently across products reduces the
            | learning curve and reinforces brand awareness.
        .col-md-3
          a.btn.btn-secondary.btn-block.margin-top-m(href='https://icons.eosdesignsystem.com/docs.html', data-event-category='External link', data-event-action='EOS icons docs', data-event-label='Icons', target='_blank')
            i.eos-icons.md-18
              | open_in_new
            |  Install eos-icons
    hr
    article
      h2
        | 3 simple rules to live by:
      .row.text-center
        .col-md-4
          .circle-icon-sets
            img.eos-logo(src='/images/logo-white.svg')
            .circle-complementary
              .content-centered
                img.md-logo(src='/images/icon-guides/md-logo.png', srcset='/images/icon-guides/md-logo@2x.png')
          h4
            | 2 icon sets made to coexist
        .col-md-4
          .circle-icon-sizes
            .content-centered
              i.eos-icons.md-36.md-light
                | miscellaneous
              i.eos-icons.md-48.md-light
                | miscellaneous
            .circle-complementary
              .content-centered
                i.eos-icons.md-18
                  | miscellaneous
                i.eos-icons.md-24
                  | miscellaneous
          h4
            | 4 icon sizes
        .col-md-4
          .circle-icon-colors
            .content-centered
              i.eos-icons.md-48.md-light
                | miscellaneous
            .circle-complementary
              .content-centered
                i.eos-icons.md-48
                  | miscellaneous
          h4
            | 2 icon colors
      section.margin-top-xxl
        h3.title-strong
          | Icon sets
        ul.list-no-padding
          li
            strong
              | Material Design icons
            p
              | With over 900 different icons, open-source, recognized worldwide by
              | Android, Chrome, and many other Google products, the Material Design
              | icon font is the recommended iconic font to use in all #{config.brand} products.
              | It provides a state of the art
              | #[a(href='https://material.io/design/iconography/#icons-system-icons', data-event-category='External link', data-event-action='Material design link', data-event-label='Icons', target='_blank') design guide]
              | that EOS has followed to the letter to create the
              | #[a(href='https://icons.eosdesignsystem.com', data-event-category='External link', data-event-action='EOS icons', data-event-label='Icons', target='_blank') EOS-icons font]
              | which provides an #[strong extended version] combining all of
              | Material Design icons + EOS-icons in one package. There is a comprehensive
              | #[a(href='https://icons.eosdesignsystem.com/cheatsheet.html', data-event-category='External link', data-event-action='EOS icons cheatsheet', data-event-label='Icons', target='_blank') cheatsheet]
              | available to easily find and select icons with its ligature for later implementation.
          li
            strong
              | EOS icons
            p
              | #{config.brand} products contain features and options that go beyond the scope
              | of Material Design. The EOS icons are a handcrafted iconic font designed
              | using the Material Design guidelines. They are 100% compliant with the MD icons,
              | also use ligatures, and are downloadable as an open source project on gitlab.
      section.margin-top-xxl
        h3.title-strong
          | Icon sizes
        p
          | Both MD icons and EOS icons have been designed to work and look
          | perfect at: 18px, 24px, 36px, and 48px. These are the recommended
          | sizes for icons in all  #{config.brand} UIs.
        p
          | In order to be compliant, follow MD icons class names to size both
          | MD icons and EOS icons:
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#icon-sizes-examples', aria-controls='icon-sizes-examples', role='tab', data-toggle='tab')
              | Implementation examples
          li.nav-item(role='presentation')
            a.nav-link(href='#icon-sizes-css-snippet', aria-controls='icon-sizes-css-snippet', role='tab', data-toggle='tab')
              | SCSS code snippet
        .tab-content
          #icon-sizes-examples.tab-pane.active(role='tabpanel')
            h6.title-strong
              | Implementation example with MD icon
            .implementation-example
              .result
                i.eos-icons.md-18
                  | face
                i.eos-icons.md-24
                  | face
                i.eos-icons.md-36
                  | face
                i.eos-icons.md-48
                  | face
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;i class='eos-icons md-18'&gt;face&lt;/i&gt;
                    | &lt;i class='eos-icons md-24'&gt;face&lt;/i&gt;
                    | &lt;i class='eos-icons md-36'&gt;face&lt;/i&gt;
                    | &lt;i class='eos-icons md-48'&gt;face&lt;/i&gt;
            h6.title-strong.margin-top-m
              | Implementation example with EOS icon
            .implementation-example
              .result
                i.eos-icons.md-18
                  | miscellaneous
                i.eos-icons.md-24
                  | miscellaneous
                i.eos-icons.md-36
                  | miscellaneous
                i.eos-icons.md-48
                  | miscellaneous
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;i class='eos-icons md-18'&gt;miscellaneous&lt;/i&gt;
                    | &lt;i class='eos-icons md-24'&gt;miscellaneous&lt;/i&gt;
                    | &lt;i class='eos-icons md-36'&gt;miscellaneous&lt;/i&gt;
                    | &lt;i class='eos-icons md-48'&gt;miscellaneous&lt;/i&gt;
          #icon-sizes-css-snippet.tab-pane(role='tabpanel')
            .css-snippet-container
              .scss-snippet-btns
                i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                  | content_copy
                a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/elements/icons/icons.variables.scss', target='_blank', data-toggle='tooltip', title='Get SCSS variables')
                  i.eos-icons.md-18
                    | launch
              pre.prettyprint.js-snippet-code
                code
                  | /* Sizing variables */
                  | $eos-md-18: 18px;
                  | $eos-md-24: 24px;
                  | $eos-md-36: 36px;
                  | $eos-md-48: 48px;
                  | /* Rules for sizing the icon. */
                  | .md-18 { font-size: $eos-md-18; }
                  | .md-24 { font-size: $eos-md-24; }
                  | .md-36 { font-size: $eos-md-36; }
                  | .md-48 { font-size: $eos-md-48; }
      section.margin-top-xxl
        h3.title-strong
          | Icon colors
        p
          | Icon usage in  #{config.brand} UIs comes down to chosing between 2 colors, dark gray
          | and white, when placed on a light or dark background, respectively.
          | For inactive states, icons are slightly transparent.
        p
          | In order to be compliant, use MD class names as required below:
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#icon-colors-examples', aria-controls='icon-colors-examples', role='tab', data-toggle='tab')
              | Implementation examples
        .tab-content
          #icon-colors-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                i.eos-icons.md-dark
                  | face
                i.eos-icons.md-dark.md-inactive
                  | face
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;i class='eos-icons md-dark'&gt;face&lt;/i&gt;
                    | &lt;i class='eos-icons md-dark md-inactive'&gt;face&lt;/i&gt;
            .implementation-example
              .result.dark-bg
                i.eos-icons.md-light
                  | face
                i.eos-icons.md-light.md-inactive
                  | face
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;i class='eos-icons md-light'&gt;face&lt;/i&gt;
                    | &lt;i class='eos-icons md-light md-inactive'&gt;face&lt;/i&gt;
            .implementation-example
              .result
                i.eos-icons.md-dark
                  | miscellaneous
                i.eos-icons.md-dark.md-inactive
                  | miscellaneous
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;i class='eos-icons md-dark'&gt;miscellaneous&lt;/i&gt;
                    | &lt;i class='eos-icons md-dark md-inactive'&gt;miscellaneous&lt;/i&gt;
            .implementation-example
              .result.dark-bg
                i.eos-icons.md-light
                  | miscellaneous
                i.eos-icons.md-light.md-inactive
                  | miscellaneous
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;i class='eos-icons md-light'&gt;miscellaneous&lt;/i&gt;
                    | &lt;i class='eos-icons md-light md-inactive'&gt;miscellaneous&lt;/i&gt;
        p
          small
            | * Note that by default all icons will inherit the text color of
            | its parent container (#[code $eos-bc-gray-1000] being the default text color).
            | More info at: #[a(href='/colors') color guide.]
        p
          | #[small * The usage of #[code .md-dark] and #[code .md-light] is only relevant in special use cases.]
  .articles-gallery
    .container
      .row
        .col-sm-8
          h3.title-no-margings
            | Other articles in this guide
        .col-sm-4.text-right
          .ag-arrow.js-ag-before.js-tooltip(data-toggle='tooltip', title='Previous')
            i.eos-icons
              | navigate_before
          .ag-arrow.js-ag-next.js-tooltip(data-toggle='tooltip', title='Next')
            i.eos-icons
              | navigate_next
      .ag-carousel.js-ag-carousel
        a.card.card-horizontal(href='/icons/eos-icons-set')
          .card-content
            div
              h5.title-strong
                | EOS icon set
              p
                | Download and follow the usage guide for all EOS icons.
              br
          span.card-icon
            i.eos-icons.md-18
              | library_books
          footer
            | Read now
        a.card.card-horizontal(href='/icons/icon-ux')
          .card-content
            div
              h5.title-strong
                | Icon UX
              p
                | A guide to using icons consistently inside the main UI elements.
              br
          span.card-icon
            i.eos-icons.md-18
              | library_books
          footer
            | Read now
        a.card.card-horizontal(href='/icons/logo-icons-set')
          .card-content
            div
              h5.title-strong
                | Logo icon set
              p
                | Third-party logos which integrate consistently with the EOS icons set.
              br
          span.card-icon
            i.eos-icons.md-18
              | library_books
          footer
            | Read now
        a.card.card-horizontal.js-feature-flag(href='/icons/eos-icons', data-feature-flag= docEnabled['/icons/eos-icons'])
          .card-content
            div
              h5.title-strong
                | Material Design icons
              p
                | Find the use cases for using the most popular MD icons in #{config.brand} interfaces.
          span.card-icon
            i.eos-icons.md-18
              | library_books
          footer
            | Read now
