// ps- prefix from panel-slidein
.ps-device-top
  h3.js-logo-icons-name
  .margin-top-xl.margin-bottom-xl.ps-device-icon
    img.md-48.js-logo-icon-img
  a.btn.btn-primary.js-logo-icon-svg
    i.eos-icons.md-18
      | get_app
    | Download icon
  p
    | Please follow #[a(href='/icons') our guidelines] when implementing this icon.
