hr.transparent {
  border: transparent;
}

.hr-dotted {
  border-top: 2px dotted $eos-hr-border-color;
  height: 0;

  &.do-dont-separator {
    margin: $eos-hr-margin-do-dont;
  }
}

/* if the hr-dotted follows a .do-dont-container then we remove the top margin */
.do-dont-container + .hr-dotted {
  margin-top: 0;
}
