extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Usage the color palettes
      p.subheadline
        | Whether designing new components and UI elements, or simply re-branding
        | an application, follow these simple rules to consistently use
        | and combine the color palettes for text, backgrounds, and links.
    hr

    article
      h3
        | Text and titles on monochromatic backgrounds
      p
        | The text color must be white on black backgrounds.
        | On white backgrounds the text color must be the darkest shade of gray.

      .usage-example
        .title
          h5
            | #141823
          p
            code
              | $eos-bc-gray-1000
        .wrap.white-gray
          p.wrap-content
            | Default text color on white
      .usage-example
        .title
          h5
            | #FFFFFF
          p
            code
              | $eos-bc-white
        .wrap.dark-gray-white
          p.wrap-content
            | Default text color on dark gray
    article
      h3.margin-top-xxl
        | Text and titles on colored backgrounds
      p
        | Always use white as text color on colored backgrounds.
        | If the #[a(href='#contrast') contrast] between white text and the background fails, use dark gray as text color.

      .usage-example
        .title
          h5
            | #FFFFFF
          p
            code
              | $eos-bc-white
        .wrap.white-violet
          p.wrap-content
            | Text on colored backgrounds
      .usage-example
        .title
          h5
            | #141823
          p.wrap-content
            code
              | $eos-bc-gray-1000
        .wrap.black-cerulean
          p.wrap-content
            | Text on colored backgrounds

    hr
    article#contrast
      h3
        | Color contrast
      p
        | When choosing colors take into account the contrast ratio of the foreground to the
        | background color. The W3C created guidelines for exactly this purpose (WCAG 2.0).
        | These require that text uses adequate contrast for visually impaired people.
      p
        | WCAG 2.0 Level AA (standard) requires a contrast ratio of at least 4.5:1 for
        | normal text (14px) and 3:1 for larger text (~18px). This level represents people
        | with 20/40 vision (typical visual acuity of elders at roughly age 80).
      p
        | While our software should be usable by people with slightly impaired vision,
        | we have made certain exceptions to express our brand properly while taking
        | into account the overall effect on the usability and accessibility of our products.

      h5.margin-top-xxl
        | How to check the contrast ratio
      p
        | The most common tool is #[a(href='http://contrast-ratio.com/#%23333-on-white', data-event-category='External link', data-event-action='Contrast ratio link', data-event-label='Colors/How-to', target='_blank') contrast-ratio.com]
        | where you can check the contrast ratio between two colors.
